@model IEnumerable<Global_Solution_ADB.Application.DTOs.NuclearPlantDTO>
@{
    ViewData["Title"] = "NuclearPlants";
}

<h2 class="mt-3">@ViewData["Title"]</h2>

<div class="card">
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>FullCapacity</th>
					<th>NumberOfReactors</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var nuclearPlantItem in Model)
				{
					<tr>
						<td>@nuclearPlantItem.Id</td>
						<td>@nuclearPlantItem.Name</td>
						<td>@nuclearPlantItem.FullCapacity</td>
						<td>@nuclearPlantItem.NumberOfReactors</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>